@model ProjectDB.Models.Department

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dept_name" class="control-label"></label>
                <input asp-for="dept_name" class="form-control" />
                <span asp-validation-for="dept_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="building" class="control-label"></label>
                <input asp-for="building" class="form-control" />
                <span asp-validation-for="building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="budget" class="control-label"></label>
                <input asp-for="budget" class="form-control" />
                <span asp-validation-for="budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary my-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
