@model ProjectDB.Models.Student

@{
    ViewData["Title"] = "Create";
    List<Department>? list = ViewData["departments"] as List<Department>;
    SelectList depts = new SelectList(list, "dept_name", "dept_name");
}


<h4>Add New Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="std_id" class="control-label"></label>
                <input type="number" asp-for="std_id" class="form-control" />
                <span asp-validation-for="std_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department" class="control-label"></label>
                <select name="dept_name" asp-items="@depts" class="form-control" ></select>
            </div>
            <div class="form-group">
                <label asp-for="place" class="control-label"></label>
                <input asp-for="place" class="form-control" />
                <span asp-validation-for="place" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary my-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
