@model ProjectDB.Models.CourseTeach

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Course Teach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden name="course_id" value="@Model.course!.course_Id" />
            <input hidden name="inst_id" value="@Model.instructor!.inst_id"   />
            <div class="form-group">
                <label asp-for="course" class="control-label"></label>
                <input readonly value="@Model.course!.title"  class="form-control" />
                <span asp-validation-for="course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="instructor" class="control-label"></label>
                <input readonly value="@Model.instructor!.name" class="form-control" />
                <span asp-validation-for="instructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="topic" class="control-label"></label>
                <input asp-for="topic" class="form-control" />
                <span asp-validation-for="topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book" class="control-label"></label>
                <input asp-for="book" class="form-control" />
                <span asp-validation-for="book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary my-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
