@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #333; font-size: 2.5rem;">Welcome</h1>
    <p style="font-size: 1.2rem;">
        This Project designed by:
        <a href="https://github.com/tareq-abuaqlain" style="color: #007bff; text-decoration: none;">Tareq Abu Aqlain</a>
        &amp;
        <a href="https://github.com/HamadaAlabadla" style="color: #007bff; text-decoration: none;">Hamada Elabadla</a>
    </p>
</div>
